Source: tides
Section: user/other
Priority: optional
Maintainer: Hugo Parente Lima <hugo.pl@gmail.com>
Build-Depends: debhelper (>= 5), libqt4-dev
Standards-Version: 3.7.3
Homepage: http://tides.github.com

Package: tides
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: See information about tides in Brazil
 Show information about tides provided by brazilian
 navy for all brazilian shipyards.
XSBC-Maemo-Display-Name: Tides
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABHNCSVQICAgIfAhkiAAAAAlwSFlz
 AAALEwAACxMBAJqcGAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAB83SURB
 VHiczZt5kGRHfec/mS/fUXd1VfU9R899MLIQSIAQh2CRsWwsZLEyYGMWg1cE62PZXdt4dyO8rHcj
 7PUB2MZmjQOEjY1Z5AUBNnYA4ggQCAkJnTODNFf3TPf0UV13vXpn5v7xuudAM0ICmdhfxIvqrnov
 X/6+mb/v78hMYYzhX0o+82ExoxVbMJQwlDSUUuwa0psVtj1hDOMAQrBm4ngVHSxaxC0JfUR2yYQz
 N73VLP1L9VE8GwDccYewVMBetPW8RFVvtmTyQiWSmpuXdj5vLNvR0vM0npsIz01QNtmlsueTBJI4
 u4JQEYTKBIEkjqT2fZGGvo4To1qpVt9SSedOZPpA4vH4rbea9Ift+w8FwJ0fEdenTvUPHBkdKlYt
 NTURqEYjpjoGtvPDdu1iiSPotKHZtFle9ZJBJ00i7TxqRZ3fuPkt5is/aLvPGIB/+KBo+Ln6b9iN
 n/zVMe8x58d2PWDV6j/o6384aa3Do0cKaavJMErVB/JB9w9fc5tpPpM2njYAH/ygsHPb3/X1QeHG
 a67P/YwYmz3AVO4bP1DHn22JYzhxSvHEcSfyY+8zHb/1c7fdZuKn8+zTAuDOj4i5ZP/fH1l2Xunt
 LR1mq3cnYZpjLvcZquqhH7b/z6ocOeaYI0+4yzLpv/jmt5hT3+/+7wvA//nYVbeZKz79F7Ztc2bg
 8KrG+/gf33wT1VKOoqv49/t/GVf0sISPFBGpUdStBxAiebZ0esbS7sLX7s+HQaB+6Wd/sfs3T3Xv
 UwLwzvf+wtevfNV7rtvinmSP82csJP+aCetuPnLyndx9dInZRoXltQ7P3z9LexBRyVl0hzE37jnD
 T1dvxRPLz7pyT1fiBL72nbxe7+U/fuub137+cvfJy/3wvg+/8D/+7aOvvu6hszE1cTc1/UX+2z9P
 8fMfv5GF5TbX7p9lFCXkcy7N7oj7TyxzYmXAiZUOH7q3yl8tfYIwaUACfryVb/t/zj3Dv4SEH8ll
 A6+8ypf10vANd/xV+W3PCIBP3i52fiv3Z38U9wc0ByFVjnLjJz/Og994mJOPHmelH/L4QpNXH2zw
 ay+YZ1sjT72cY0s9z66pKo1ygXayj985/iCnop9nKbmR+/03cjK5mTRxMQk/suslB0fSVcmff/J2
 sfNSuj7JBO64Qzh/cve7emfcl7qzWyb4iStyvHbq73n1+w8xXDpLfutWXvvj11D0LHZXA2xVJkxD
 KqqPR4uHOjsZxZqvPTJPiOQ5W2ocmq3Q8hNyjuQnxu/iam5DMQCgw5XcFX+cOfuL7OCjKPoo+rg0
 sQguN3DPSNoD+OqR4kriDbbdequJLvxNfe/Nn3/0J+9++PQWNzcdMFEr8araJ/nY/OsIeg/g1McZ
 n6gSpwmfvvckDoaxQo7xWp4rZizmarNcMe6y0EuYmhxjsdnnrm88xuCqvVQLLjNjHsbY9PU+xsz9
 LMg3cq94Lw+vw+PuG3hpdRdjPABoBmIPL0ze+KwAMObBvqlw4rGztY8Dt1z420Uz4FN/Ler/7st/
 0fQ7I9JhDzCM79mDqNSI4ojnX7mHX7jC54++FHHq5BK5qXF6x+YxcYKV96hMT7B9pkEQhGyZrtHq
 Dnnk0ZNsna7x+pfvAulyY+F97Ez+N21xNZ8Tf0deJjzc1ESJwZJgUs21W/JcF93ChP7SswLApnzu
 cCGKkuHMz7zZrG9+d9EMeODsNX8wWGmhxiaRuSLh4gma82ewazEmDvnqiXm++ikDwsLKOUTtNjoM
 QFqYkaC9sMTakSeQbo4nykWi9Sbe+Dhb52aoOQP+7oEm/T1v513Fv+T24HbaQcBUySFnCwajgMVm
 H89WPF5UvMo5A/pZ1Z999cB5aKXy68B/3vzuIhL81GOveDMITBxgkhhncivpoEMwf5Ro5TQ6iZH5
 EsZogsUFbM+lsnMnudlZ7GIBjEYoG6ks0iDE8vK4jTG+ee8RfveL65xYXKc5hI+IR/n68Q6PLHWY
 lUd4RenzFF0LpORUZ8g9x9d5zLydWFcuYvYWLyRKaz+wZ9heSrFM+o4LdT4HwKduFy8/Kw5aamwC
 6RWQXh6TJqANejQkHXSJzp4iWHiceG2JdNCl89B9rHz1C3S+fQ9Jv0dxbhvFHVuRjo3l2niTddIo
 Ju4PGLV73HTtXq6ejvjisS4PfPsoJdvioe52WnqOiic53vFZWW0TxYb/dfhGvuB++lznQ93g68VP
 M2+/iXVx7Q8EgNLQyJnSp24XL9/U+xwH3PLO1y99eflfTQvHO4eO9gcgJXo0IF5bwugUoRyklwNj
 0IGP0SnSK2AVSggp8BrjyFwJgyGNEtIgoLJrG9K2CZstXnndIY4ttTi90kYKQamQ41VX7+buxxZY
 H8VUa2UqjmK6nGNbPc9/V4dw9Tod50o+IO+i0w8YK1j8WvoC8unpZ2wGnQi+dLb67df9m/Y1sMEB
 d9whnHub75kSjodJIoTKclnhuAjLQkgLE0cgBFapgrBzqHyOqL2OMBqUQ9pvI3Mlwv6IdPEMqj6F
 kBYIw2iliaUUSZpy1z1HyE82iNfbSGFYWYa/b/fQSUq+McZkzuYFOxrkHUHZLCKCBDT839yHWWoF
 WJbkUGkNay2kZx3kTP5W9vX+gMfL/4Hx4Ks0wq8/JQBVCY6IDt1xh3BuvdVECkD1OeCHtkjCJqpc
 A8CkKUgJQiIcF3tiS2Yzjp192gq7Moa0JHG/j12fBiEAcGpjWJZktLaOKlWIOy2COKK8aw9JktI/
 fZaw18ckMXalymitTW6ihpIC17a472QTEYVcMVfly5UPkbc1D65O0ukH5D2bb7fHEbk/puZZ9J0D
 5KN5lryf5kThNm5YfB6xLFGIT10WhJKSKulzAHhIAQSJd42/cAxVGoOxcTAGYVkZEEmMUPa5h3UU
 X/wZg7AdQJy7Nw0TjG2jyhVMqrFKFUy/h7/WQrk2wnGo7dlBqVwkiSJGCKLekLmJClvqRb71+FnO
 HDvDwvqAE7uey1Q1R6frA7DUHXHXPUf45t4rmSrnePGOEt3K72DbZYTRPFF6JwfX3w1PkeNNqUC1
 hfW8cwB8cf7H35HbeQjpugilzikHXKQ8xgAGhARjMpIUAnTmr8QFZSAdxxc8JhBuAZOmRN0AlGJ4
 4hjtsXFIYlS5wo79c7SilHtPrOIPfOozDVZPnMY4Nmd7RdbXuyQDnzDRBJ0ejzz4OOG+bZRzNq+Y
 K2DpPmBTHd6PiLL+GGHR8a4kVA2m+p8/15+6SNCmfhNwuwJ4fHDwoLAdjDaYKAatSYMhOvARUqKq
 46A1Og5RxXKmnBDnwbEuj3YGxkZqLCQ69LGcMYSl0MMewrIJFuc5enae4vQUw/UOpIbavj3Uts3g
 5Dw00DqxkL0/V8BzFP7KIkd7HbR6HvXCBFePS7RJeHDyj7CjHuvFF5OKHPe6b6BWrvOS46+hMfw6
 iSxSMQOESM6T4NJw2j034lIwWngCE8dIx8UqjaFyHmkUYec80jC6hIrPQDampqo2srgBTbR6Bh0M
 6UURqlAAk7L+6CNIpdj+4hey3O5TKuVB5gm7XbqL66SjIVYhZfnMCq2tNSY7/4SV+nQKz2epfBMD
 bzdN5wBlu04uWuR4/R0sl36KvWd/HycVWLmddQD1mQ+LGV9+VGyGXelwgBASd9tehO3glItI1yFd
 j3545QG7MQFkHKLDAOG4ODNzmDBAujmSXkacStkYLBYe+i4I0IMOqT+gMDNLY24r3W6AKuQwqWal
 7fOh5NU0ig77HY9vDXfQbGlumOyT9+9D+KdZH3sFM/OfxgnbADjFLeozHxYzKrHYHXS6CK+UkZjj
 ktt5AJNqjNYYYxitrEEScy5GMDrjgQ2xPBfLkozvmKXTHZL4I8JWd4MzQFgWdiGHThIS/3yGJ718
 9rtjwUbbdmPm/GQJhkivgIkjrHIdq1LH8mySJMWyJVbOo9/s8NWvfYfdVx3gOVNVEiHxR4Yd9Txn
 Y3hw7QC2uoIXC4tq937MhjVa1ZdZo95ndytjKKpCCZRDkkZ44w2ksjDaEKx3CFdXQKeoah3bcxG2
 IhmFpGFEcXwMp5DDsSTKVgyDCMdRWHgk/oh0FCKkAKOJB0OkYyOVwsq5xAP/HECXE+kVNgBUmCQG
 SzFYWcOr13BKFSq1CpW5aVqtHu1On7/92CewShUahw5RrpWZm6pTLniUPRBSkh+ePmeCSX6/MIai
 sgTF3NZZhidPUrvyOSTDEcJoRq0ewpLYYzVUIUdjukEUJnSX1xibGScKIxID68fncYt5pndsoZ53
 iOIUHIuiO0GqNWGcYLTJlE01YRQTDUdI+2Jv89RISEChPA8n7xG226TGIlctsTDfRQLd+x/EGA0G
 2qcWaZ9apHTdc7li+xg7nBavvPcWSDNLf2DfH7NefCklQVEZQzENQhovfD4A6Sgk6vvkZybwzyxT
 mh5nplZk/tQywnMpb5nCGysTnlnBjiIOXX2AbdumsE3WvuPY5GyLal5RciykJdAGnA2LMcATyz3u
 eXiepdMrRP3Mv0vHxiQbYF1ChKVAx6RGYhVKWK5D6/hx3GKJyu45Rt0B9lgNE4cYk2KXqywvrlG5
 Zo4J3eRM8eXs65/Ed7dxf+UNHF7yud5QtG55beGGrzm/fIOwLEpWFsmpSomg2aaycwvbGiWwLPbu
 miaxFKM4xV9usmduihdduYutMw1KeZdK0WGlO6LnB+yaLFL1FEIKBGBvKC8FCKCcd7ly1yTPv2In
 Xr1K148JeoNzymdm82QQjGbjHgHGkJuaImj3aD3yMFbOY+bgHtrzi5AmIBSpJciXSnzltCTZ/kqS
 8WtoFp7LZ5s7wMCO0Qe/oYxobJHKymy65NGKYqychVQWlrLwNRSl4NRajwDBdKPC9LYGjudgOwow
 rPcCHlpqs69R4PrnTKI1rEeGsi2wBKgNfWyZXZ0ILAGegpcemGRussLSaoeTZzucePw0yej7lMKM
 QccJ/tIqAPb4LOHyEscXTiEshV2fJO62SEdDHj1Ww3MUR5sVTjjXMooNURghhCAV27aryBSm0ijG
 BBGLAx+rVCBs98hPT5AYcC1Js+fT6/TJT9Yp2JJqKY/AEIQxq70Rh1sDnjNR4lV76wQ6c6hFlSkv
 gLzKPg3gWYJIGYI0MwspYFfd44rJafwDUzSv3ctXHjjBmdUuneV1dJwgHXWR97iUqLFGlr8A0vGQ
 Xg5hWQS5PDmT8M9f+Q4ohTdRpzZWYr8QjMTkrNLGa8TdPsPFVSp7tqNshTtWBgElDKurbXLFPKKU
 p9/qkjg1Rn6Al3N4bLlLM4gpS3jt/gZCQDM0JNpQsAU5KxvxghIokSmb8YAgSg3aQGoycPzEoARM
 FiSvf8luLGG465Gz3PPAMcI4xauUGJxd2yAE8SQPIpSDUJsTxCC0wRhoHj7OynCIyucRtiJca9OW
 gqDogsw3lJTGjFbW0VGMdJ0sbBUChGDUH6Adm856F6MsZooeUyUPY+Dh5S7tMEEHITe9aAdKwtmR
 wZFgS0HegqojMJwnwE1x5HkTL6nMpKM0+67uZDMHBD979Sw/e/UsvcjwhcMrPHaqRKs7JOhlsYZJ
 Lr06Lm2FKuRIhiN0FKOKRdJwhHLsjD5GIXojrVFaJy290VDiB5iNYGVi+zQtP8RWCltJZJIwPV5l
 oR9QsK0s/DeGyWKO/TUXPwVtsumuBDRcgebSCw9KQMkGTwocC4IUXAmFJ9WoMyk7gtc9d4qbr5xi
 zdfcc7rHPfc/zvri2vk84wKxy0XcepV0FDA8vUzcbqHK5Wx2pJrB2TXiHdNI/KaSeriSjgLscpF0
 FBD3hqhSHlKNVcghHId+s8Pu3Vt4rO1jS0GiDe0oJRmFHNw2iZLgmIzYmoFmNi9JzXn2v2iqGo0R
 kjEn8xCpgaLKRn+D3y8rUsBUQXLTvio3738Bh1d9bv/nR+g223iNMYK1dpZxtntE3T4mijDGIHMF
 dKKxChZpFCNtRWIMlmmfVa5YWYjXzuA1DmWBT7mAM1YmsiSFSpFBZ4BIU7qpRpusi+thkrG6bXFg
 ugKAZ2Wj3wohTEG5l9HCZEa/qeiG531KxS96VGSgSQH7xvP859e/gLuOtQHBd1c6LB4+SdTtZ0ws
 LYQxCEtitEGHEaWt0zQmqqRao/TCvLKtYdOuTyGUAiEImm1yUw2MMRggXG+TUwI/yZKlMD1fqzZJ
 StU7nwtXbUGck0znxXkFdYQREicaoNIRg/z001D1vIRppos2500k1BlwloCKI3jZrjGWfEO96HGf
 slj47jzBait7f87FJCmq6GVZbZzQCRLafoQz1l5VQjAwWqMDH2uijpAZWokUuFKgCjkqY6WNhSxw
 pCDSJktsBj7xBWTciQ3igtEUGDzbZqQFkVslovq0FdcGEgPt2BCmmbKDJGt7lIJ2BKE2RCmkQMkW
 BK5iquBR+rHdPH58kdFqC2FZqLJLsVZG2zbCttjkPCEYqNQwkBKkmycNQqRjE3V6FOpVCkrStyT1
 SoHBMEuFLZF5dCEEUX9Id5Qw7iqkyEar7mXqSzKz8NMMCEQWEj9dkQL6kWHJN+RV5lLTC0i/HW1E
 jWTg2BLqecWhrVVSBGmc0Jqso1ON4yhSwE80Oo6RtgU6JTUMpBAMpLLRSUo6ygBIBj6pMcRhTDIK
 0QjURsEz2fS/QpKMQs52AxyZfbetIPA2iE9vjNSEayjZT7EO/z1yIUbDJPMYqTYkOmtvmGRXaiDO
 ch+SjYccCxoFm4mC4sYrt3DVbA3XtZnKO8iNeWk5dlbotSwy3VOOueU8aRgipERaEmFJXCmwLYF0
 bNbDGCUzEDaBMEmCXS7wnSeWSTRUVNYLS1yojGAzrE+f5uhvPt6LM1uPdTb1m6GhHxsGscFPss9B
 Yog0+MnFzwoystw2XmS85HFyENLwFM5GJCakwLUMKuWYvOmtZslafNCk/giv4GXJhpT4fkgt75IM
 R/iJzmJ6KbDEBsEJQTIKWTi9Sj/JFN2W16iNXmy6wIKCvMVlaV5e4nsDrIeGbmTOjS5kvLCZU4Qa
 Eg29yCA3PMOFJqYEuEpy1fYGRdsi0oadJQ9XZh3L0TY3vdUsSYDZwmoYnDpK6+gTSFshlcL4I/zU
 kJ+ZQAiwpSRM9bkRlbZCeS7dZoeT7ZApTzOX1zy3mnKoohmzM28hMXSi85Hr9rxmTzFlbzGl4Wak
 aYuLp4fZiCGK9sXoOBLKtqBsC8Y9gWttmIA2jNLzprDZWk5BXgletW8KKQS2FMzms8r1OKfCrH/A
 j+3xD7szc8S9Hv3j84TNNtHQZ8xVuL6PSTWpMdRdRUFZ5JXEpCn5LVOonMs/fus4R/oSPxXkLUPN
 1uwuZIDkLJj0DIcqmkPllC05TUFlMyNIBWOOYdK7ME+AXpzlCd5GOC0vmFV5dT6tNhu5RGIynpBk
 f8cbs2MQG4LUYKRk52SFUGtqriJnSXaaBw+fA+D6mc9+QBVLSMdFCIFOUoLugGPzy2BZRP0sAqw6
 ivXekNm8g5AStKawfYaTT5zm8HrM0kgQ6Y2agsxMomIbtuc1NVtTUgaNoKwMmsy210PBUnDeQ7RC
 wzDJCE0ArgUTnqDhiSfNiJwS1FyBIwVKClqRYT04zxWbGadBUC/nmKkWARhzFdfmP/oB2CiLe8q/
 Lx10MUmMNhqKRaJ2m6ayiIeDrIHSQRJHEQ1HhJX8xrqAhSUlqlzks988zgtu3o9+iiWZUGd22taC
 9UieG/FEw7GeQQlD0RFM5zJF10ODn2Z5Q94S9OPs/803bCZZYZqZgN6IFGMNMRmAiTl/f7yRNzjS
 4KX9+84BkJQ4UvBSM3THhJCQjAJULkfQ7qFDHx2OOH63z+qWaWb3bOf00jqFxhjDJEVIwdTcDKeO
 nKA52o9dvjwABQVH+pJmKJ4U9xcd0EbQcLMpvxZkSrFxn2dtkHBs6EZZ+lyyRRZrJAK5wSObM8mW
 GRDhBbFDvV6i3R4wa7omsTgCGyZw660mevmBU8vuWIXi1DjPufoATqkIJsGujlHctYek12L1a1/m
 6Be/Shin6GTD9xjD0EB+qsGffP4IxwfysgGPMWALnvS7JWAmJ5j2slR4lEKkz0//8sbUVyKbCZCF
 wJBxQE5l2WdBZR6qbAvqbhY8XfQeS1KrlZiLP7+8uVnqXHzyusn3vDFcmqd3cp5T82fJlfJI20KH
 EcKxKe49SOHg8zBJyvr993Pm249hDYZUXIUBcrUKC6s97vxu77IzQArYUUjPkdiYbZjNaRpuRmBq
 ozcZcQomvUyJC2MLz4LJnKC6kU2uBJm9b+YKkzlBXmVTP7zEFhtLGK5I/su53VcXbZK64i2/nRw/
 FlpGpwhpoaMA6XrYjWncyRnsgocQEpXPMVbOs7KwjI4j3KkJdmyZoBPFrH/3BO/5pZfxyunL53cr
 gSDQAj+FA6WMNfwEEiOwJfRjeGJgPeUWoV4M3djQCrNYoe4KJOftXRvoxwbHEgzj8/FE3j+c/vYN
 152rPFwUob525xf+GpEtc+soq8HpMCBaWWR49GGGp06RBiP85TVWFpYp16sUJscJl1Z48J++xOr9
 D1GcmuB/fuYwK+HlAZj0Ms+wNXc+ni8oqNiGvJUFNkX1fRZNNoKfqiOo2uJckLQpm5miJcC6QMup
 lff89YXtPGmb3LtO/GOzc7bDaP4USa+FSWKkm0PVJtGjIVYujzczS7FeY9gbkPoBhe0zEEaMlTyW
 T5wm0ZJarcCbbzjEbVeVn3YecKH4qeDoRmxxKU5ZCw3+Rq4QpOfN58JyYaxhGGtiI4gSjcOIq09t
 bVy4Te5JO0Xf/l9vvu8TT9xwtcxXMFpDGhF3mqS9DsJ28LbuwBgrKzIMWlR37yJ18yg0YXeAjEeU
 xuu0zq7jLy9TmJzg6uft5vdfs5uKY55UH7xQNt1YLxb0EsHJ4eVvHiRwxs8KsCVbUMzKGXRjSDfc
 bZAauqOEMIwJgph9rT/89m++9U+vubCdS26V/f2/fV3v0dU5F2OQXg5VHqO6ZZYo1QxOn8nW9W0b
 4Xikgx7u1Cy52a04JqY8VoYwojfwGfkRMl8gHvpMbJ/m+kMz/OaLGxSVuWRqEBtBouG+toUSXJQH
 bEpisgKqFDA/NPRiw4R3vrV0w/Z7o4QgiEhTQ6Hgola+GF5j/Vz5e7fKXnK7/CdvFzv/7YfefnwY
 XVzXEpaFVaxiFasIZZP0WqS9FiZNcMZnqF9zDQwGRKmGNKWyZYpKIceZU2dJwgjpOExPjfGWF2/j
 DXtzm1uKLpJWLHm8L4kuw4CbGWLOyjzA5iLL5hpDarIAKggTpBT4foRLn5cu7991yy+aE9/bnvXu
 d7/7SS85cNW726z9Vv+ewY+/WrgeQtmIDXI0SYxVqqKHXZzxWdypLchCBRAkUUIcxIzv24GxFM2j
 p+i0ukS9AWFzjdHiAusnTvKN4z0+t5AgiyX2j2WErMkU8DcqxEEqLplCb9r8MMlCXUtkTJ4Co8Rk
 UaCGMIzx/ZDhwOfqtbf+pze9beFzlwL0KQ9M3Pbbr//6nSu3XJdGCZbrkIYh8foKJklQtQlIU4Tt
 IB0bp1wkP1nHxDFB3yc/WaeSd+m2erSOngCZ1RmCxXlMOEJ6eaxqAxkP2Xf1Vdz0oj381G6Pqm3w
 U0moYd6XlwTBkNl5bGA1yLzGZsFkEGswBj9ICIOAuZX33v1bb3vfSy6n4/c9MvN7v/fcX3n/d9/x
 p7o8SeoPGK01MXGIdDzUWAPlueg4IQ0jLM8lDcJsl5nKFicaWycYnT7N6uPHkLYC5eKOT5GbahD3
 fZRSDJaW0CMfJ+/R2DFHY7zKbL3Mrqkiz9tSQkqJrWNiaV/Ut1hnhZLN1aVRmhGfK8EPemw99tZf
 fdsv3vX+p9LvaR+a+rMz7z366PoO1z9xjGh1CZMmSK/A5MuuRxQLqLxL/8RitjEiiJBOZjZpFFNo
 VCkXcyhLsHpynuHaGsLJ4Y5P4eZsJrdM0fFD4iCkv7CI0TrLNtFYymb3FXu45Zo5Dlp9osbUk/oX
 6Swo2iyT2e27w+mF1+x/Vg5NbcoHPyjsbzx6w92f791yzShxiZtLCCGx6+PoKKG0cztbdm9l/vBJ
 3GI+K2UnCUkQMjp9GrtUAcvCyXnsOLQbgaHXGdBZ79A7NY/Kuew+uIfK1Dhn1jp0Vtuko5A0SbJK
 dZJQm24w1SizZ7bG87dXmcxb50a/HRmSxMc5+f77kvXfve5ZPTZ3ofzDB0Xj7sVr//AfFn/yTYuD
 CStqr5F0m0gnR3H/QbzGODrVlGbGaRRztIYB/WYHR1mMTdXo9kf4qy3cehUhJSKK6J9tErbakISU
 ZqaZ2ztHohS93oDVJ05jeQ65yTrlnEMaJfRGIWYwQA/7lHIub79xIt3Sev/feJ1P/Pq/2MHJS8md
 HxHXf/TBN3/snqWDU921ntCpRnp5VKWBVSgiHQenWiI/M0Gwuk4axdiOolIpEQpJ0OkxXG2howgQ
 JO1VpGNT2rMXu1ggHvgYATkvq+v7RhCttRitNcmlXfOi6ceWX7/zT3/uR3p09lKyeXjaj0ov+Frz
 jb9ytLXtUKu4340K0yLq+AxX1mFj623ij3BqFRpzsyitGRgYLpwlHvikwz7R+grOWAOEwK03qM3U
 cHTLjI2eCA+NLz56belv3u85nXv/vzg8/f3kUsfnY10dD8OJudSUpk3qjltSGyGjNa0Hy25u9ZQr
 O2s/yuPz/w/E06n29wkm1AAAAABJRU5ErkJggg==
