[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Tides
Exec=/usr/bin/invoker --type=d -s /opt/Tides/bin/Tides
Icon=/usr/share/icons/hicolor/80x80/apps/Tides80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
